.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.horizontal-line {
  border-width: 1px;
  width: 100%;
}
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-container {
  display: flex;
  flex-direction: column;
}
.foot-container {
  display: flex;
  justify-content: space-between;
}
.logo-name {
  border-radius: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  color: white;
  padding-top: 11px;
  font-size: 15px;
  font-family: roboto;
}
.commented-name {
  color: black;
  font-size: 15px;
  font-family: roboto;
  font-weight: bold;
  margin-left: 15px;
}
.date {
  color: #94a3b8;
  font-size: 12px;
  font-family: roboto;
  margin-left: 20px;
  padding-top: 5px;
}
.like {
  color: #64748b;
  font-size: 15px;
  font-family: roboto;
  text-align: center;
  font-family: roboto;
  font-weight: 700;
}
.comment-description {
  color: #64748b;
  font-size: 15px;
  font-family: roboto;
  padding-left: 50px;
}
.sub-food-container {
  display: flex;
}
.like-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.delete-logo {
  height: 25px;
  width: 25px;
}
.sub-top-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn-button {
  border-width: 0;
  background-color: transparent;
}
.description-container {
  width: 100%;
  flex-wrap: wrap;
}
.is-liked {
  color: #0ea5e9;
}
